.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background: transparent url(logo.png) no-repeat center bottom;
  background-size: 150px;
  color: #333;
  height: 200px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
